/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: row-reverse;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {        
    color: #007BFF;
}

/* MAIN */
img{
    z-index: -9999;
    margin-top: 0;
}
